
<div class="row">
    <div class="col-md-6">
        <h2>Company Details</h2>
    </div>
    <div class="col-md-6">
        <!-- <button class="btn btn-success" (click)="onNewCompany()">Add New Unit</button>  -->
        <button class="btn btn-success" (click)="open(content)">Add New Company</button>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-company-item></app-company-item>
    </div>
</div>

<!-- Add New Modal -->
<ng-template #content let-modal> 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Company</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label for="firstname">Code:</label>
          <div class="input-group">
            <input id="firstname" name="firstname" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Description:</label>
          <div class="input-group">
            <input id="lastname" name="lastname" class="form-control" ngModel>
          </div>
        </div>
        <div class="border text-center">
          <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>








