<div class="row m-2">
    <div class="col-md-6">
        <h2>Unit Details</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-success" (click)="open(content)">Add New Unit</button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>UnitKey</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unit of units">
                    <td><span>{{unit.unitCode}}</span></td>
                    <td><span>{{unit.unitKey}}</span></td>
                    <td><span>{{unit.description}}</span></td>
                    <td>
                        <button class="btn btn-sm btn-info m-1" (click)="openDetails(contentDetails, unit)">
                            <i class="fa fa-search"></i>Details</button>
                        <button class="btn btn-sm btn-warning m-1" (click)="openEdit(contentEdit, unit)">
                            <i class="fa fa-edit"></i>Edit</button>
                        <button class="btn btn-sm btn-danger m-1" (click)="openDelete(contentDelete, unit)">
                            <i class="fa fa-remove"></i>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Add New Modal -->
<ng-template #content let-modal> 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Unit</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="unitCode">Code:</label>
          <div class="input-group">
            <input id="unitCode" name="unitCode" type="number" required class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="unitKey">UnitKey:</label>
          <div class="input-group">
            <input id="unitKey" name="unitKey" type="text" required class="form-control" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <div class="input-group">
            <input id="description" name="description" type="text" required class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="oldNumber">OldNumber:</label>
          <div class="input-group">
            <input id="oldNumber" name="oldNumber" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="blockingDate">Blocking Date:</label>
          <div class="input-group">
            <input id="blockingDate" name="blockingDate" type="datetime-local" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="blockingReason">Blocking Reason:</label>
          <div class="input-group">
            <input id="blockingReason" name="blockingReason" type="text" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="salesPhase">Sales Phase</label>
          <div class="input-group">
            <input id="salesPhase" name="salesPhase" type="text" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="constructionDate">Construction Date:</label>
          <div class="input-group">
            <input id="constructionDate" name="constructionDate" type="datetime-local" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="unitDeliveryDate">Delivery Date:</label>
          <div class="input-group">
            <input id="unitDeliveryDate" name="unitDeliveryDate" type="datetime-local" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="area">Area:</label>
          <div class="input-group">
            <input id="area" name="area" type="text" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="areaValue">Area Value:</label>
          <div class="input-group">
            <input id="areaValue" name="areaValue" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="noOfRooms">NoOfRooms:</label>
          <div class="input-group">
            <input id="noOfRooms" name="noOfRooms" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <div class="input-group">
            <input id="price" name="price" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="validFrom">Valid Date:</label>
          <div class="input-group">
            <input id="validFrom" name="validFrom" type="datetime-local" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="fromFloor">From Floor:</label>
          <div class="input-group">
            <input id="fromFloor" name="fromFloor" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="toFloor">To Floor:</label>
          <div class="input-group">
            <input id="toFloor" name="toFloor" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class=" text-center m-3">
          <button data-dismiss="modal" class="btn btn-info " [disabled]="!f.valid">Add Unit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<!-- Details Modal -->
<ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Unit Details:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group m-2">
          <label for="code">UnitCode:</label>
          <div class="input-group">
            <input id="unitCode" class="form-control">
          </div>
        </div>
        <div class="form-group m-2">
          <label for="unitKey">UnitKey:</label>
          <div class="input-group">
            <input id="unitKey" class="form-control">
          </div>
        </div>
        <div class="form-group m-2">
            <label for="description">Description:</label>
            <div class="input-group">
              <input id="description" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="oldNumber">oldNumber:</label>
            <div class="input-group">
              <input id="oldNumber" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="blockingDate">Blocking Date:</label>
            <div class="input-group">
              <input id="blockingDate" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="blockingReason">Blocking Reason:</label>
            <div class="input-group">
              <input id="blockingReason" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="salesPhase">Sales Phase:</label>
            <div class="input-group">
              <input id="salesPhase" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="constructionDate">Construction Date:</label>
            <div class="input-group">
              <input id="constructionDate" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="unitDeliveryDate">Delivery Date:</label>
            <div class="input-group">
              <input id="unitDeliveryDate" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="area">Area:</label>
            <div class="input-group">
              <input id="area" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="areaValue">Area Value:</label>
            <div class="input-group">
              <input id="areaValue" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="noOfRooms">NoOfRooms:</label>
            <div class="input-group">
              <input id="noOfRooms" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="price">Price:</label>
            <div class="input-group">
              <input id="price" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="validFrom">Valid From:</label>
            <div class="input-group">
              <input id="validFrom" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="fromFloor">From Floor:</label>
            <div class="input-group">
              <input id="fromFloor" class="form-control">
            </div>
        </div>
        <div class="form-group m-2">
            <label for="toFloor">To Floor:</label>
            <div class="input-group">
              <input id="toFloor" class="form-control">
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
  
  
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<!-- Edit Modal -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Unit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
        <div class="form-group m-2">
            <label for="unitCode">UnitCode:</label>
            <div class="input-group">
              <input formControlName="unitCode" type="number" class="form-control">
            </div>
          </div>
          <div class="form-group m-2">
            <label for="unitKey">UnitKey:</label>
            <div class="input-group">
              <input formControlName="unitKey" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group m-2">
              <label for="description">Description:</label>
              <div class="input-group">
                <input formControlName="description" type="text"  class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="oldNumber">oldNumber:</label>
              <div class="input-group">
                <input formControlName="oldNumber"  type="number" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="blockingDate">Blocking Date:</label>
              <div class="input-group">
                <input formControlName="blockingDate" type="date" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="blockingReason">Blocking Reason:</label>
              <div class="input-group">
                <input formControlName="blockingReason" type="text"  class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="salesPhase">Sales Phase:</label>
              <div class="input-group">
                <input formControlName="salesPhase" type="text"  class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="constructionDate">Construction Date:</label>
              <div class="input-group">
                <input formControlName="constructionDate" type="date" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="unitDeliveryDate">Delivery Date:</label>
              <div class="input-group">
                <input formControlName="unitDeliveryDate" type="date" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="area">Area:</label>
              <div class="input-group">
                <input formControlName="area" type="text" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="areaValue">Area Value:</label>
              <div class="input-group">
                <input formControlName="areaValue" type="number" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="noOfRooms">NoOfRooms:</label>
              <div class="input-group">
                <input formControlName="noOfRooms" type="number" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="price">Price:</label>
              <div class="input-group">
                <input formControlName="price" type="number" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="validFrom">Valid From:</label>
              <div class="input-group">
                <input formControlName="validFrom" type="date" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="fromFloor">From Floor:</label>
              <div class="input-group">
                <input formControlName="fromFloor" type="number" class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="toFloor">To Floor:</label>
              <div class="input-group">
                <input formControlName="toFloor" type="number" class="form-control">
              </div>
          </div>
     
          <div class=" text-center m-3"> <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Save
          Changes</button> </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class=" text-center m-3">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>