<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Company</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>modal body</p>
     <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <div class="input-group">
              <input id="firstname" name="firstname" class="form-control" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <div class="input-group">
              <input id="lastname" name="lastname" class="form-control" ngModel>
            </div>
          </div>
          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Submit</button>
          </div>
        </form> 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>  -->

  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch Confirmation Modal</button>

  <modal
    #confirmationModal
    (newConfirmationEvent)="getConfirmationValue($event)"
   
    [modalStyle]="modalStyle"
    [modalTitle]="modalTitle"
    [modalButtonColor]="modalButtonColor"
  >
   
  </modal>
  <ng-template #modalBody>
      <p>hereeee</p>
     
    </ng-template> -->