<!-- <h2>APP Component</h2>

<app-test-model></app-test-model> -->
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Home</a>
</nav>

<router-outlet></router-outlet> -->
<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<app-header></app-header>
<div class="container">
  <!-- <div class="row">
    <div class="col-md-12"> -->
      <router-outlet></router-outlet>
    <!-- </div> -->
  <!-- </div> -->
</div>
