<div class="row m-2">
    <div class="col-md-6">
        <h2>area Details</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-success" (click)="open(content)">Add New area</button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Area Master</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let area of areas">
                    <td><span>{{area.areaCode}}</span></td>
                    <td><span>{{area.areaMaster}}</span></td>
                    <td><span>{{area.description}}</span></td>
                    <td>
                        <button class="btn btn-sm btn-info m-1" (click)="openDetails(contentDetails, area)">
                            <i class="fa fa-search"></i>Details</button>
                        <button class="btn btn-sm btn-warning m-1" (click)="openEdit(contentEdit, area)">
                            <i class="fa fa-edit"></i>Edit</button>
                        <button class="btn btn-sm btn-danger m-1" (click)="openDelete(contentDelete, area)">
                            <i class="fa fa-remove"></i>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Add New Modal -->
<ng-template #content let-modal> 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New area </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="areaCode">Code:</label>
          <div class="input-group">
            <input id="areaCode" name="areaCode" type="number" required class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="areaMaster">Area Master :</label>
          <div class="input-group">
            <input id="areaMaster" name="areaMaster" type="text" required class="form-control" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <div class="input-group">
            <input id="description" name="description" type="text" required class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
            <label for="projectFlag">Project:</label>
            <div class="input-group">
              <input id="projectFlag" name="projectFlag" type="checkbox" [(ngModel)]="isProjectFlagged">
            </div> 
        </div>
          
          <div class="form-group">
            <label for="buildingFlag">Building:</label>
            <div class="input-group">
              <input id="buildingFlag" name="buildingFlag" type="checkbox"  [(ngModel)]="isBuildingFlagged">
            </div>
          </div>
          
          <div class="form-group">
            <label for="unitFlag">Unit:</label>
            <div class="input-group">
              <input id="unitFlag" name="unitFlag" type="checkbox" [(ngModel)]="isUnitFlagged">
            </div>
          </div>
        <div class="form-group">
          <label for="unitOfMeasurement">Unit Of Measure:</label>
          <div class="input-group">
            <input id="unitOfMeasurement" name="unitOfMeasurement" type="number" class="form-control" ngModel>
          </div>
        </div>
        <div class=" text-center m-3">
          <button data-dismiss="modal" class="btn btn-info " [disabled]="!f.valid">Add area</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<!-- Details Modal -->
<ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">area Details:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="areaCode">Code:</label>
            <div class="input-group">
              <input id="areaCode"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="areaMaster">Area Master:</label>
            <div class="input-group">
              <input id="areaMaster"  class="form-control" >
            </div>
          </div>
  
          <div class="form-group">
            <label for="description">Description:</label>
            <div class="input-group">
              <input id="description"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="projectFlag">Project:</label>
            <div class="input-group">
              <input id="projectFlag" type="checkbox" class="form-check-input" [(ngModel)]="projectFlag">
            </div>
          </div>
          <div class="form-group">
            <label for="buildingFlag">Building:</label>
            <div class="input-group">
              <input id="buildingFlag" type="checkbox" class="form-check-input" [(ngModel)]="buildingFlag">
            </div>
          </div>
          <div class="form-group">
            <label for="unitFlag">Unit:</label>
            <div class="input-group">
              <input id="unitFlag" type="checkbox" class="form-check-input" [(ngModel)]="unitFlag">
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="projectFlag">Project:</label>
            <div class="input-group">
              <input id="projectFlag" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="buildingFlag">Building:</label>
            <div class="input-group">
              <input id="buildingFlag" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="unitFlag">Unit:</label>
            <div class="input-group">
              <input id="unitFlag" class="form-control" >
            </div>
          </div> -->
          <div class="form-group">
            <label for="unitOfMeasurement">Unit Of Measure:</label>
            <div class="input-group">
              <input id="unitOfMeasurement"  class="form-control" >
            </div>
          </div>
       
      </form>
    </div>
    <div class="modal-footer">
  
  
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<!-- Edit Modal -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit area</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
        <div class="form-group m-2">
            <label for="areaCode">areaCode:</label>
            <div class="input-group">
              <input formControlName="areaCode" type="number" class="form-control">
            </div>
          </div>
          <div class="form-group m-2">
            <label for="areaMaster">Area Master:</label>
            <div class="input-group">
              <input formControlName="areaMaster" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group m-2">
              <label for="description">Description:</label>
              <div class="input-group">
                <input formControlName="description" type="text"  class="form-control">
              </div>
          </div>
          <div class="form-group m-2">
              <label for="projectFlag">Project:</label>
              <div class="input-group">
                <input formControlName="projectFlag"  type="checkbox" >
              </div>
          </div>

          <div class="form-group m-2">
            <label for="buildingFlag">Building:</label>
            <div class="input-group">
              <input formControlName="buildingFlag"  type="checkbox" >
            </div>
        </div>

        <div class="form-group m-2">
            <label for="unitFlag">Unit:</label>
            <div class="input-group">
              <input formControlName="unitFlag"  type="checkbox" >
            </div>
        </div>
         
          <div class="form-group m-2">
              <label for="unitOfMeasurement">Unit OF Measure:</label>
              <div class="input-group">
                <input formControlName="unitOfMeasurement" type="number"  class="form-control">
              </div>
          </div>
          
     
          <div class=" text-center m-3"> <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Save
          Changes</button> </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class=" text-center m-3">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>